.insights__wrapper {
    display: flex;
    flex-direction: row;
    margin: 8vh 15vw;
}

.insights_content {
    display: flex;
    flex-direction: column;
}

.insights_title {
    font-size: 60px;
    font-weight: 800;
    letter-spacing: -0.06px;
    color: #ffffff;
    padding-bottom: 10px;
    margin: 0;
}

.insights_subtitle {
    font-size: 40px;
    font-weight: 300;
    line-height: 1.18;
    letter-spacing: -0.03px;
    color: #ffffff;
    max-width: 450px;
}

.insights_items-wrapper {
    padding-left: 70px;
    max-width: 450px;
}

.insights_text {
    font-size: 20px;
    line-height: 1.35;
    color: #ffffff;
    max-width: 400px;
}

.insights_items {
    padding-top: 5vh;
}

.insights_items>a {
    border-radius: 14.5px;
    border: solid 1px #ffffff;
    padding: 4px 15px;
    max-width: 139px;
    margin: 10px;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    text-align: center;
    font-size: 20px;
    display: -webkit-inline-box;
}

@media (max-width:600px) {
    .insights__wrapper {
        display: flex;
        flex-direction: column;
    }
    .insights_content {
        margin-left: 10vw;
    }
}