@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900&display=swap');
html {
    font-family: 'WorkSans', sans-serif;
}

#fp-nav ul li a span {
    padding: 0;
    background: rgba(255, 255, 255, 0.1) !important;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 auto 5px auto;
    color: #b721ff;
    border: solid 2px rgba(183, 33, 255, 0.1) !important;
    display: block;
}

#fp-nav ul li a.active span {
    background: #fff !important;
    width: 14px;
    height: 14px;
    border: solid 2px rgba(183, 33, 255, 0.7) !important;
}

.psl_button_outline {
    color: #21d1fa;
    border-radius: 17.5px;
    border: solid 1px #21d1fa;
    font-weight: 500;
    letter-spacing: -0.8px;
    background: transparent;
    width: 200px;
    height: 5vh;
    font-size: 20px;
}

#fp-nav.fp-left {
    left: 5px;
}